Exam2/CommandsGen/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandsHandler.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandsHandler.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StopCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MouseCommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StopCommand" nillable="true" type="tns:StopCommand" />
  <xs:complexType name="MouseCommandBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MouseCommandBase" nillable="true" type="tns:MouseCommandBase" />
  <xs:complexType name="MouseMoveCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MouseCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MouseMoveCommand" nillable="true" type="tns:MouseMoveCommand" />
  <xs:complexType name="WheelCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MouseCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WheelCommand" nillable="true" type="tns:WheelCommand" />
  <xs:complexType name="ArrayOfMouseCommandBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MouseCommandBase" nillable="true" type="tns:MouseCommandBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMouseCommandBase" nillable="true" type="tns:ArrayOfMouseCommandBase" />
</xs:schema>