Exam2/CommandsGen/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CommandsHandler.Model" />
  <xs:element name="SendCommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommandsHandler.Model" minOccurs="0" name="command" nillable="true" type="q1:ArrayOfMouseCommandBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendCommandsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>