Exam2/CommandsGen/Connected Services/HandlerService/CommandsReceiverService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65413/CommandsReceiverService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CommandsHandler" />
  <xs:element name="SendCommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommandsHandler" minOccurs="0" name="command" nillable="true" type="q1:ArrayOfMouseCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendCommandsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>