Exam2/CommandsGen/Connected Services/ReceiverServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandsHandler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandsHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StopCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MouseCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StopCommand" nillable="true" type="tns:StopCommand" />
  <xs:complexType name="MouseCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MouseCommand" nillable="true" type="tns:MouseCommand" />
  <xs:complexType name="MouseMoveCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MouseCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MouseMoveCommand" nillable="true" type="tns:MouseMoveCommand" />
  <xs:complexType name="ArrayOfMouseCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MouseCommand" nillable="true" type="tns:MouseCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMouseCommand" nillable="true" type="tns:ArrayOfMouseCommand" />
</xs:schema>